
*{
    background-color: rgb(38, 38, 44);
    color: rgb(236, 243, 243);
}
p{ /*nose porq los P agregaban espacios en blacno*/
    margin: 0;
}

#p-buttom-volver{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    margin-right: 1em;

}

#p-buttom-volver button{
    padding: 0.1em 0.5em 0.1em 0.5em;
    background-color: rgb(65, 70, 97);
    border-radius: 0.5em;
    border: solid 1px rgb(94, 99, 128);
    font-size: 0.8em;
}


#formulario #formulario-div1{
    display: flex;
    justify-content: space-around;
}
#primerDiv{
    padding-top:20px
}
.input-add-product{
    padding: 0.5em 0em 0.5em 0.5em;
}
.input-edit-product{
    width: 6em;
    border: none;
}
#formulario #formulario-div2{
    margin-top: 1.5em;
  
}
#btn-add{
    padding: 0.5em 1em 0.5em 1em;
    background-color: rgb(65, 70, 97);
    border-radius: 0.5em;
    border: solid 1px rgb(94, 99, 128);
    display: block;
    width: 100%;
}
#container-trash-edit{
    display: flex;
    background-color: transparent;
}
svg{
    background-color: transparent;
}
#button-trash{
    margin-left: 10px;
    background-color: transparent;
}
#button-edit{
    background-color: transparent;
}
#accept-edit{
    background-color: transparent;
}
#reseteador{
    display:none;
}

#lista-faltantes{
    margin-left: 10%;
    list-style:none;
}

hr{
 background-color: white;
}

.li-faltantes{
    list-style: inside;
}
/*************************************************************/
@media screen and ( max-width: 668px ){
    #formulario #formulario-div1{
        display: flex;
        flex-direction: column; 
    }
    #tablaProductos{
        font-size: 0.7em;
    }
    .input-add-product{
       margin: 0.5em;
    }
    .input-edit-product{
        width: 5em;
        border: none;
        background-color: rgb(53, 58, 58);
    }

}



