
*{
    background-color: rgb(38, 38, 44);
    color: rgb(236, 243, 243);
}

#formulario #formulario-div1{
    display: flex;
    justify-content: space-around;
}
#primerDiv{
    padding-top:20px
}
.input-add-product{
    padding: 0.5em 0em 0.5em 0.5em;
}
.input-edit-product{
    width: 6em;
    border: none;
}
#formulario #formulario-div2{
    margin: 1.5em;
}
#btn-add{
    padding: 0.5em 1em 0.5em 1em;
    background-color: rgb(65, 70, 97);
    border-radius: 0.5em;
    border: solid 1px rgb(94, 99, 128);
    display: block;
    width: 100%;
}
#container-trash-edit{
    display: flex;
    justify-content: space-around;
}
#button-trash{
    margin-left: 10px;
    border: none;
    background-color: #2C3034;
}
#button-edit{
    border: none;
    background-color: #2C3034;
}
#accept-edit{
    border:none;
    background-color: #2C3034;
}
svg{
    background-color: transparent;
}
#reseteador{
    display:none;
}
#div-table{
    /*porq afecta cuando esta el media query de abajo?*/
    margin: 10px;
}

/*************************************************************/
@media screen and ( max-width: 668px ){
    #formulario #formulario-div1{
        display: flex;
        flex-direction: column; 
    }
    #tablaProductos{
        font-size: 0.7em;
    }
    .input-add-product{
       margin: 0.5em;
    }
    .input-edit-product{
        width: 5em;
        border: none;
    }
    #div-table{
        margin:0px;
    }
    svg{
        background-color: transparent;
        color:transparent;
    }
    #svg-edit{
       
    }
}



